@keyframes animate-background {
  0% {opacity: 1;}
  33% {opacity: 0;}
  66% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes animate-background2 {
  0% {opacity: 0;}
  33% {opacity: 1;}
  66% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes animate-background3 {
  0% {opacity: 0;}
  33% {opacity: 0;}
  66% {opacity: 1;}
  100% {opacity: 0;}
}

.content-mrElayaWasHere {
  width: 220px;
  height: 110px;
  position: relative;
}

.link-mrElayaWasHere {
  text-decoration: none;
  color: inherit;
}

.background-mrElayaWasHere {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.text-mrElayaWasHere {
  width: 100%;
  height: 100%;
  position: absolute;
  color: transparent;
  text-align: center;
  top: 1rem;
  font-size: 2rem;
  text-shadow: 0 0 10px #fffaaa; 
  background-clip: text;
  -webkit-background-clip: text;
}

#background1-mrElayaWasHere {
  animation: animate-background 9s infinite;
  background-image: url('buttonBg1.png');
}

#background2-mrElayaWasHere {
  animation: animate-background2 9s infinite;
  background-image: url('buttonBg2.png');
}

#background3-mrElayaWasHere {
  animation: animate-background3 9s infinite;
  background-image: url('buttonBg3.png');
}

#text1-mrElayaWasHere {
  animation: animate-background 9s infinite;
  background-image: url('buttonBg2.png');
}

#text2-mrElayaWasHere {
  animation: animate-background2 9s infinite;
  background-image: url('buttonBg3.png');
}

#text3-mrElayaWasHere {
  animation: animate-background3 9s infinite;
  background-image: url('buttonBg1.png');
}