:root {
  --max-width: 950px;
  --background-color-0: rgba(255, 255, 255, 1);
  --background-color-1: rgba(245, 245, 245, 1);
  --background-color-inverse-0: rgba(73, 124, 180, 1);
  --foreground-color-0: rgba(50, 52, 54, 1);
  --foreground-color-0-alpha-0: rgba(50, 52, 54, 0.25);
  --foreground-color-1: rgba(136, 136, 137, 1);
  --foreground-color-inverse-0: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  background: var(--background-color-1);
  color: var(--foreground-color-0);
  font-family: var(--font-monsterrat);
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 500;
  margin: 0.6rem 0;
}

h2 {
  font-weight: 100;
  margin: 0.3rem 0;
}

h3 {
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0.4rem 0 0.2rem 0;
}

p {
  font-weight: 300;
  margin: 0.1rem 0;
}