.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.button {
    margin-top: 3rem;
    width: 100%;
    background-color: var(--background-color-inverse-0);
    color: var(--foreground-color-inverse-0);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.htmlCode {
    width: 100%;
    height: 12rem;
    margin-top: 2rem;
}
.generatedButton {
    margin-top: 2rem;
}
.buttonDescription {
    text-align: center;
}