.header {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-0);
  filter: drop-shadow(0px 1px 1px var(--foreground-color-0-alpha-0));
  padding: 0 1rem;
}

.header img {
  display: none; /* Por defecto todas las imagenes no se muestran */
}

.header img:nth-child(1) {
  display: block; /* Siempre se muestra la primera imagen */
}

/* Para pantallas mayores a 500px se muestra la segunda imagen */
@media screen and (min-width: 500px) {
  .header img:nth-child(2) {
    display: block;
  }
}

/* Para pantallas mayores a 768px se muestran las demas imagenes */
@media screen and (min-width: 768px) {
  .header img {
    display: block;
  }
}
