.gptQuery {
    margin-top: 1rem;
    width: 100%;
}

.gptData {
    margin-top: 1rem;
}

.loading {
    margin: 1rem -60px 1rem 0;
    width: 100%;
    text-align: center;
}

.button {
    margin: 3rem 0 1rem 0;
    width: 100%;
    background-color: var(--background-color-inverse-0);
    color: var(--foreground-color-inverse-0);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}